# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.DragonlandsV3.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\DragonlandsV3\.idea\.idea.DragonlandsV3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
